[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
googletrans = "==4.0.0rc1"
youtube-transcript-api = "*"
scipy = "*"
cython = "*"
nltk = "*"
textblob = "*"
stanfordcorenlp = "*"
spacy = "*"
autocorrect = "*"
google-cloud-translate = "*"
aiohttp-socks = "*"
rich = "*"
pywin32 = "==225"

[dev-packages]

[requires]
python_version = "3.8"
